{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "p4pa-cie",
    "description" : "Api and Models",
    "version" : "0.0.1"
  },
  "servers" : [ {
    "url" : "https://api.p4pa.pagopa.it/pu/cie/ipzs"
  } ],
  "security" : [ {
    "BearerAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "ipzsCie",
    "description" : "the ipzsCie API"
  } ],
  "paths" : {
    "/{orgFiscalCode}/notices/{nav}/setStatus" : {
      "post" : {
        "tags" : [ "ipzsCie" ],
        "operationId" : "ipzsUpdateNoticeStatus",
        "parameters" : [ {
          "name" : "orgFiscalCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nav",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IpzsUpdateNoticeStatusRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok"
          },
          "400" : {
            "description" : "Invalid request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized - Missing or invalid token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/{orgFiscalCode}/notices/{debtorFiscalCode}" : {
      "get" : {
        "tags" : [ "ipzsCie" ],
        "operationId" : "ipzsGetNotices",
        "parameters" : [ {
          "name" : "orgFiscalCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "debtorFiscalCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Zero-based page index (0..N)",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "The size of the page to be returned",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "default" : 20
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedNoticeCieDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized - Missing or invalid token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/{orgFiscalCode}/notice/{nav}" : {
      "get" : {
        "tags" : [ "ipzsCie" ],
        "operationId" : "ipzsGetNoticeByOrgFiscalCodeAndNav",
        "parameters" : [ {
          "name" : "orgFiscalCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nav",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NoticeCieDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized - Missing or invalid token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CategoryEnum" : {
        "type" : "string",
        "enum" : [ "NOT_FOUND", "BAD_REQUEST", "GENERIC_ERROR", "CONFLICT", "FORBIDDEN", "UNAUTHORIZED", "TOO_MANY_REQUESTS" ]
      },
      "ErrorDTO" : {
        "required" : [ "category", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "$ref" : "#/components/schemas/CategoryEnum"
          },
          "code" : {
            "type" : "string",
            "nullable" : true
          },
          "message" : {
            "type" : "string"
          },
          "fields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ErrorFieldDTO"
            }
          },
          "traceId" : {
            "type" : "string",
            "nullable" : true
          }
        }
      },
      "ErrorFieldDTO" : {
        "required" : [ "error", "field", "message" ],
        "type" : "object",
        "properties" : {
          "field" : {
            "type" : "string"
          },
          "error" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          }
        }
      },
      "IpzsUpdateNoticeStatusRequest" : {
        "required" : [ "status" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "$ref" : "#/components/schemas/StatusEnum"
          },
          "operationDate" : {
            "type" : "string",
            "format" : "date-time",
            "nullable" : true
          }
        }
      },
      "StatusEnum" : {
        "type" : "string",
        "enum" : [ "BURN", "REFUND" ]
      },
      "DebtPositionCieStatus" : {
        "type" : "string",
        "enum" : [ "UNPAID", "PAID", "BURNED", "REFUNDED" ]
      },
      "NoticeCieDTO" : {
        "required" : [ "mefAmountCents", "nav", "orgAmountCents", "reasonCode", "status" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "$ref" : "#/components/schemas/DebtPositionCieStatus"
          },
          "paymentDate" : {
            "type" : "string",
            "format" : "date-time",
            "nullable" : true
          },
          "burnDate" : {
            "type" : "string",
            "format" : "date-time",
            "nullable" : true
          },
          "nav" : {
            "type" : "string"
          },
          "reasonCode" : {
            "type" : "string"
          },
          "reasonDescription" : {
            "type" : "string",
            "nullable" : true
          },
          "orgAmountCents" : {
            "type" : "integer",
            "format" : "int64"
          },
          "mefAmountCents" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "PagedNoticeCieDTO" : {
        "required" : [ "content", "number", "size", "totalElements", "totalPages" ],
        "type" : "object",
        "properties" : {
          "content" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/NoticeCieDTO"
            }
          },
          "size" : {
            "type" : "integer",
            "format" : "int64"
          },
          "totalElements" : {
            "type" : "integer",
            "format" : "int64"
          },
          "totalPages" : {
            "type" : "integer",
            "format" : "int64"
          },
          "number" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      }
    },
    "securitySchemes" : {
      "BearerAuth" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  }
}