{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "p4pa-cie",
    "description" : "Api and Models",
    "version" : "0.0.1"
  },
  "servers" : [ {
    "url" : "https://api.p4pa.pagopa.it/pu/cie/mint"
  } ],
  "security" : [ {
    "BearerAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "mintCie",
    "description" : "the mintCie API"
  } ],
  "paths" : {
    "/payments" : {
      "get" : {
        "tags" : [ "mintCie" ],
        "summary" : "Retrieve a paged list of CIE payments",
        "operationId" : "mintGetPayments",
        "parameters" : [ {
          "name" : "orgFiscalCode",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string",
            "nullable" : true
          }
        }, {
          "name" : "completionDateFrom",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "nullable" : true
          }
        }, {
          "name" : "completionDateTo",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "nullable" : true
          }
        }, {
          "name" : "paymentDateFrom",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "nullable" : true
          }
        }, {
          "name" : "paymentDateTo",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "nullable" : true
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Zero-based page index (0..N)",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "The size of the page to be returned",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "default" : 20
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedPaymentCieDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized - Missing or invalid token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "DebtPositionCieStatus" : {
        "type" : "string",
        "enum" : [ "UNPAID", "PAID", "BURNED", "REFUNDED" ]
      },
      "PagedPaymentCieDTO" : {
        "required" : [ "content", "number", "size", "totalElements", "totalPages" ],
        "type" : "object",
        "properties" : {
          "content" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PaymentCieDTO"
            }
          },
          "size" : {
            "type" : "integer",
            "format" : "int64"
          },
          "totalElements" : {
            "type" : "integer",
            "format" : "int64"
          },
          "totalPages" : {
            "type" : "integer",
            "format" : "int64"
          },
          "number" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "PaymentCieDTO" : {
        "required" : [ "mefAmountCents", "nav", "orgAmountCents", "orgFiscalCode", "orgName", "reasonCode", "reasonDescription", "status" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "$ref" : "#/components/schemas/DebtPositionCieStatus"
          },
          "paymentDate" : {
            "type" : "string",
            "description" : "Payment date and time",
            "format" : "date-time",
            "nullable" : true
          },
          "completionDate" : {
            "type" : "string",
            "description" : "Date and time when the payment was consumed for the CIE issuance",
            "format" : "date-time",
            "nullable" : true
          },
          "nav" : {
            "type" : "string",
            "description" : "Unique payment identifier"
          },
          "reasonCode" : {
            "type" : "string",
            "description" : "Reason code"
          },
          "reasonDescription" : {
            "type" : "string",
            "description" : "Reason description"
          },
          "orgFiscalCode" : {
            "type" : "string",
            "description" : "Organization fiscal code"
          },
          "orgName" : {
            "type" : "string",
            "description" : "Organization name"
          },
          "orgAmountCents" : {
            "type" : "integer",
            "description" : "Amount due to the organization",
            "format" : "int64"
          },
          "mefAmountCents" : {
            "type" : "integer",
            "description" : "Amount due to MEF",
            "format" : "int64"
          }
        }
      },
      "CategoryEnum" : {
        "type" : "string",
        "enum" : [ "NOT_FOUND", "BAD_REQUEST", "GENERIC_ERROR", "CONFLICT", "FORBIDDEN", "UNAUTHORIZED", "TOO_MANY_REQUESTS" ]
      },
      "ErrorDTO" : {
        "required" : [ "category", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "$ref" : "#/components/schemas/CategoryEnum"
          },
          "code" : {
            "type" : "string",
            "nullable" : true
          },
          "message" : {
            "type" : "string"
          },
          "fields" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ErrorFieldDTO"
            }
          },
          "traceId" : {
            "type" : "string",
            "nullable" : true
          }
        }
      },
      "ErrorFieldDTO" : {
        "required" : [ "error", "field", "message" ],
        "type" : "object",
        "properties" : {
          "field" : {
            "type" : "string"
          },
          "error" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          }
        }
      }
    },
    "securitySchemes" : {
      "BearerAuth" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  }
}